.dao-about-featuredin-blocks {
	margin: 20px 0 20px 0;
}

.dao-about-featuredin {
	margin: 20px 0 20px 0;
}

.dao-about-firstPletter {
	font-size: -webkit-xxx-large;
	color: $brand-green;
	width: 45px;
	float: left;
}

.dao-about-firstRow {
	margin: 0 6px 0 -2px;
}

.dao-about-h2 {
	text-align: left;
}

.dao-about-firstParagraph {
	padding: 14px 0 0 0;
	line-height: 1.4em;
	font-size: 12px;
}

.dao-about-image1 {
	margin-top: 75px;
}

.dao-about-paragraph {
	padding: 0 0 0 0;
	line-height: 1.4em;
	font-size: 12px;
}

.dao-about-contact-emails {
	dl {
		right: 0;
		position: absolute;
	}
	dt {
		font-weight: normal;
		font-size: smaller;
	}
	dd {
		a {
			font-size: large;
			color: $brand-green;
		}
	}
}

@media(max-width: 992px) {
	.dao-about-contact-emails {
		dl {
			right: initial;
			position: initial;
		}
	}	
}

.dao-about-banner-text1 {
	margin-top: 10px;
	font-size: x-large;
}

.dao-about-banner-text2 {
	margin-top: 10px;
}