.dao-feature-container-affiliates {
  background-color: $brand-true-white;

  .dao-feature-pros-icon {
    img {
      height: auto;
    }

    @media (min-width: $screen-sm-min) {
      margin-bottom: 0px;
    }
  }
}

.dao-table-container {
  background-color: $brand-dark-white;
}

.dao-affiliate-signup-container {

  .dao-banner-image-content {
    margin-top: 0;
    min-height: 500px;
  }
}

.dao-affiliate-form-content {
  background-color: rgba(245,245,245,0.85);
  border-radius: $base-border-radius;
  padding: 20px;
  margin-top: -450px;

  @media (min-width: $screen-lg-min) {
    margin-top: -500px;
  }

  h2 {
    margin: 15px;
  }

  input {
    border: 1px solid $brand-dark-gray1;
    color: $brand-dark-gray1;
    height: 40px;
    margin: 25px 0;
    padding: 5px 10px;
  }

  .btn {
    height: 40px;
  }
}
