// Section 1a - Daocloud Banner Image
// see: components/_banners.scss partial
// Overrides to the component only here
.dao-banner-image-content-homepage {
  background: url('../images/banners/landing-page-bg.jpg') no-repeat top center;
}

// Section 2 - 3-up Icon Features
// see: components/_features.scss partial

// Section 3 - Explore Daocloud
.dao-explore-container {
  padding: 30px 0;

  h3 {
    color: $brand-white;
    max-width: 250px;
  }

  h4 {
    color: $brand-white;
    line-height: 1.3;
  }

  .btn-default, .btn-default:hover {
    border: 1px solid $brand-white;
  }

  .btn-default:hover {
    background-color: rgba(245,245,245,0.2);
  }

  a.btn-default, a:visited.btn-default, a:active.btn-default {
    color: $brand-white;
  }

  .dao-explore-unit {
    border-radius: $base-border-radius;
    color: $brand-white;
    min-height: 259px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .dao-explore-unit-1 {
    background: url('../images/explore/girl-on-grass.jpg') top center no-repeat;

    // Flips background image to better show people for mobile
    // See https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/mixins/_vendor-prefixes.scss
    @media (max-width: $screen-xs-min) {
      @include scaleX(-1);
    }

    // Unflips the content in the .dao-explore-unit-# containers
    .dao-explore-unit-1-content, .dao-explore-unit-1-title, .dao-explore-unit-1-button {
      @media (max-width: $screen-xs-min) {
        max-width: none;
        @include scaleX(-1);
      }
    }
  }

  .dao-explore-unit-2 {
    background: url('../images/explore/people-tent.jpg') top center no-repeat;
  }

  .dao-explore-unit-3 {
    background: url('../images/explore/carrot-girl.jpg') top center no-repeat;

    // Flips background image to better show people for mobile
    @media (max-width: $screen-xs-min) {
      @include scaleX(-1);
    }

    // Unflips the content in the .dao-explore-unit-# containers
    .dao-explore-unit-3-content, .dao-explore-unit-3-title, .dao-explore-unit-3-button {
      @media (max-width: $screen-xs-min) {
        max-width: none;
        @include scaleX(-1);
      }
    }
  }

  .dao-explore-unit-4 {
    background: url('../images/explore/chiropractic-woman.jpg') top center no-repeat;
  }

  .dao-explore-unit-1-content, .dao-explore-unit-2-content, .dao-explore-unit-3-content, .dao-explore-unit-4-content {
    max-width: 350px;
  }
}

// Section 4 Geolocated Professionals
.dao-geopro-container {
  background-color: $brand-dark-white;
  text-align: center;
  padding: 30px 0 60px 0;

  .dao-geopro-1, .dao-geopro-2, .dao-geopro-3, .dao-geopro-4 {
    background-color: $brand-true-white;
    border-radius: 3px;
    display: inline-block;
    min-height: 200px;
    min-width: 200px;
    padding: 30px;
    margin: 10px;
  }

  hr {
    width: 50px;
  }

  h3 {
    font-size: $norm;
  }

  .dao-geopro-name {
    font-size: $norm;
  }

  .dao-geopro-location {
    color: $brand-gray;
    font-size: $xsmall;
    padding-top: 3px;
    text-transform: uppercase;
  }
}

// Section 5 - Quotes
// 2 column look, goes to 1 column on mobile
.dao-quote-container {
  background-color: $brand-light-gray2;
  padding: 80px 0;

  .dao-quote {
    background-color: $brand-white;
    border-radius: $base-border-radius;
    min-height: 380px;
    padding: 40px;
    text-align: center;

    @media (min-width: $screen-lg-min) {
      text-align: left;
    }
  }

  .dao-quote:last-child {
    margin-top: 40px;

    @media (min-width: $screen-sm-min) {
      margin-top: 0;
    }
  }

  .dao-quote-portrait {
    border: 6px solid $brand-light-gray3;
    border-radius: $base-border-radius;
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
  }

  .dao-quote-metadata {
    display: inline-block;
    max-width: 300px;
    padding-top: 20px;
    vertical-align: top;

    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
      padding-top: 0;
      padding-left: 20px;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
      padding-top: 20px;
      padding-left: 0;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
      max-width: none;
    }

    @media (min-width: $screen-lg-min) {
      padding-top: 0;
      padding-left: 20px;
    }
  }

  .dao-quote-content {
    color: $brand-gray;
    font-size: $med;
  }

  h3 {
    font-size: $norm;
    margin-bottom: 5px;
  }

  .dao-quote-title {
    color: $brand-gray;
  }
}

// Section 6a - Featured In
// 5 column look
.dao-featuredin-container {
  background-color: $brand-white;
  text-align: center;
  padding-bottom: 60px;

  h2 {
    font-size: $norm;
  }

  .dao-featuredin {
    display: inline-block;
    margin: 60px 20px 0 20px;
    min-height: 50px;
    padding-top: 10px;

    @media (min-width: $screen-sm-min) {
      margin: 60px 20px 20px 20px;
    }
  }

  .dao-featuredin-5 {
    padding-top: 0;
  }
}

// Section 6b - Featured In Blocks (2 up)
// 2 column look
.dao-featuredin-blocks-container {
  background-color: $brand-dark-white;

  .dao-featuredin-blocks {
    background-color: $brand-true-white;
    border-radius: $base-border-radius;
    min-height: 220px;
    padding: 35px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .dao-featuredin-blocks:last-child {
    margin-top: 40px;
    margin-bottom: 40px;

    @media (max-width: $screen-sm-min) {
      margin-top: 0;
    }
  }

  .dao-featuredin-blocks-portrait {
    display: inline-block;
    height: 150px;
    width: 150px;
    vertical-align: top;
  }

  .dao-featuredin-blocks-metadata {
    display: inline-block;
    padding-top: 10px;
    width: 160px;

    @media (min-width: $screen-lg-min) {
      padding-top: 20px;
      width: 220px;
    }
  }

  img {
    margin-right: 20px;
  }

  h2 {
    margin-top: 0px;
    text-align: left;
  }

  .dao-featuredin-blocks-content {
    font-size: $norm;
  }

  a.btn-default {
    margin-top: 25px;
  }
}

#watch-video .modal-body {
  text-align: center;
}
