.dao-feature-container-pros {
	background-color: $brand-true-white;
}

.dao-feature-pros-icon {
  display: inline-block;
  margin: 60px 0 0 0;

  @media (min-width: $screen-sm-min) {
    margin: 60px 0 20px 0;
  }

	img {
	  height: 55px;
	  width: auto;
	}
}

.partner-logos-container {
  background-color: $brand-dark-white;
  text-align: center;
  padding: 30px 10px 70px;

  ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  }
  li {
  	display: inline-block;
  	margin: 40px 40px 0;
  	height: auto;

  	a {
  		text-decoration: none;
  	}
  }
  h2 {
  	margin: 0 0 10px;
  	padding: 0;
  }
}

// Connect with the Network Section
h2.connect-heading {
	margin: 30px;
}

.connect-wrapper {

	.nav > li > a {
		margin-bottom: 10px;
		padding: 5px;

		@media (min-width: $screen-sm-min) {
			padding: 15px;
		}
	}

	.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
		background-color: $brand-light-gray3;
		color: $brand-dark-gray1;
	}
}

.connect-copy {
	text-align: center;

	@media (min-width: $screen-sm-min) {
	  text-align: left;
	}

	@media (min-width: $screen-md-min) {
	  padding-right: 50px;
	}

	.hide-content {
		@media (min-width: $screen-md-min) {
			display: inline;
		}
	}

	.hide-content-heading {
		display: none;

		@media (min-width: $screen-sm-min) {
			display: inline;
		}
	}

	p {
		display: none;

		@media (min-width: $screen-sm-min) {
			display: inline;
		}
	}

	.nav-pills > li {
		float: none;

		@media (min-width: $screen-sm-min) {
			float: left;
		}
	}

	.nav > li {
		display: inline-block;

		@media (min-width: $screen-sm-min) {
			display: block;
		}
	}
}

.connect-img {
	img {
		@media (min-width: $screen-sm-min) {
			margin-top: 60px;
		}
	}
}

.connect-text {
	padding: 15px 25px 15px 15px;
}

.promotional-text {
	background-color: $brand-dark-white;
	h3 {
		color: $brand-green;
	}
}

.dao-different {
	background-color: $brand-dark-white;
	margin-top: 50px;

	.dao-diff-row {
		margin-bottom: 40px;
		@include clearfix;
	}

	.dao-diff-row:nth-child(2) {
		margin-bottom: 0;
	}

	p {
		margin-left: 104px;
	}

	.dao-getstarted-content {
		margin-top: 0;
	}

	.btn-different-cta-kerning {
		margin-left: 4px;
	}
}

.different-items {
	@include make-md-column(6.666);

	img {
		float: left;
		margin: 0 20px 100px 0;
	}

	h3 {
		margin-top: 0;
	}

	@media (max-width: $screen-md-min) {
		margin-bottom: 40px;

		img {
			margin: 0 20px 30px 0;
		}
	}
}
