.btn {
  border-radius: $base-border-radius;
  font-family: lato;
  text-transform: uppercase;
}

// Main ghost button
.btn-default, .btn-default:hover {
  background-color: transparent;
  border: 1px solid $brand-green;
  color: $brand-green;
  padding: 8px 32px;
}

a.btn-default, a:visited.btn-default, a:active.btn-default {
  // ghost button requires the you style the link inside of it for visual consistency
  color: $brand-green;
}

// Main green button, leveraging 'success' buttons
.btn-success {
  background-color: $brand-green;
  border: none;
  transition: all 0.2s ease-in-out;
}

.btn-success:hover {
  background-color: $brand-dark-green;
}

// btn-lg customizations
.btn-lg {
  font-size: $small;
  padding: 16px 24px;
}
